:host {
	--bg-color: #FFC;
	--border-color: black;
	--text-color: #333;
	--triangle-height: 13px;
	--triangle-base: 26px;
	--triangle-placement: 40px;
	--triangle-vertical-placement: 10px;
	--triangle-border: 1px;
	--speech-min-width: 40px;
	--speech-min-height: 40px;
}

.root {
	position: relative;
}

#overlays {
	position: relative;
}

#overlays > * {
	position: absolute;
	top: 0;
	left: 0;
}

/* =========================================================================================================
 * SPEECH BUBBLE
*/

#speech {
	visibility: hidden;
	position: absolute;
	display: block;
	z-index: 1000;
	min-width: var(--speech-min-width);
	min-height: var(--speech-min-height)
}

.bubble {
	position: relative;
	padding: 15px;
	margin: 1em 0 3em;
	border: var(--triangle-border) solid var(--border-color);
	color: var(--text-color);
	background: var(--bg-color);
	border-radius: 10px;
}

/* TOP DIALOG (bottom triangle) */

/* outer triangle border */
.top.bubble:before {
	content: "";
	position: absolute;
	bottom: calc(-1 * (var(--triangle-height) + var(--triangle-border)));
	left: var(--triangle-placement);
	border-width: calc(var(--triangle-height) + var(--triangle-border)) calc(var(--triangle-border) + var(--triangle-base) / 2) 0;
	border-style: solid;
	border-color: var(--border-color) transparent;
}

/* creates the smaller triangle */
.top.bubble:after {
	content: "";
	position: absolute;
	bottom: calc(-1 * var(--triangle-height));
	left: calc(var(--triangle-placement) + var(--triangle-border));
	border-width: var(--triangle-height) calc(var(--triangle-base) / 2) 0;
	border-style: solid;
	border-color: var(--bg-color) transparent;
}

/* RIGHT DIALOG (left triangle) */

.right.bubble:before {
	content: "";
	position: absolute;
	top: var(--triangle-vertical-placement);
	left: calc(-1 * (var(--triangle-height) + var(--triangle-border)));
	border-width: calc(var(--triangle-border) + var(--triangle-base) / 2) calc(var(--triangle-height) + var(--triangle-border)) calc(var(--triangle-border) + var(--triangle-base) / 2) 0;
	border-style: solid;
	border-color: transparent var(--border-color) transparent;
}

.right.bubble:after {
	content: "";
	position: absolute;
	top: calc(var(--triangle-vertical-placement) + var(--triangle-border));
	left: calc(-1 * var(--triangle-height));
	border-width: 50px 145px 50px 0;
	border-width: calc(var(--triangle-base) / 2) var(--triangle-height) calc(var(--triangle-base) / 2) 0;
	border-style: solid;
	border-color: transparent var(--bg-color) transparent;
}

/* LEFT DIALOG (right triangle) */

.left.bubble:before {
	content: "";
	position: absolute;
	top: var(--triangle-vertical-placement);
	right: calc(-1 * (var(--triangle-height) + var(--triangle-border)));
	border-width: calc(var(--triangle-border) + var(--triangle-base) / 2) 0 calc(var(--triangle-border) + var(--triangle-base) / 2) calc(var(--triangle-height) + var(--triangle-border));
	border-style: solid;
	border-color: transparent var(--border-color) transparent;
}

.left.bubble:after {
	content: "";
	position: absolute;
	top: calc(var(--triangle-vertical-placement) + var(--triangle-border));
	right: calc(-1 * var(--triangle-height));
	border-width: 50px 145px 50px 0;
	border-width: calc(var(--triangle-base) / 2) 0 calc(var(--triangle-base) / 2) var(--triangle-height);
	border-style: solid;
	border-color: transparent var(--bg-color) transparent;
}

/* BOTTOM DIALOG (top triangle) */

/* outer triangle border */
.bottom.bubble:before {
	content: "";
	position: absolute;
	top: calc(-1 * (var(--triangle-height) + var(--triangle-border)));
	left: var(--triangle-placement);
	border-width: 0 calc(var(--triangle-border) + var(--triangle-base) / 2) calc(var(--triangle-height) + var(--triangle-border));
	border-style: solid;
	border-color: var(--border-color) transparent;
}

/* creates the smaller triangle */
.bottom.bubble:after {
	content: "";
	position: absolute;
	top: calc(-1 * var(--triangle-height));
	left: calc(var(--triangle-placement) + var(--triangle-border));
	border-width: 0 calc(var(--triangle-base) / 2) var(--triangle-height);
	border-style: solid;
	border-color: var(--bg-color) transparent;
}
