:host {
	--bg-color: #FFC;
	--border-color: black;
	--text-color: #333;
	--after-border-top: 13px;
	--after-border-bottom: 0px;
	--before-border-top: 20px;
	--before-border-bottom: 0px;
	--before-left: 40px;
	--before-border-left: 20px;
	--after-border-left: 13px;
}

.root {
	position: relative;
}

#speech {
	visibility: hidden;
	position: absolute;
	display: block;
	z-index: 1000;
}

.bubble {
	position: relative;
	padding: 15px;
	margin: 1em 0 3em;
	border: 1px solid var(--border-color);
	color: var(--text-color);
	background: var(--bg-color);
	border-radius: 10px;
}

.bubble:before {
	content: "";
	position: absolute;
	bottom: calc(-1 * (var(--before-border-top) + var(--before-border-bottom))); /* -20px */
	left: var(--before-left); /* controls horizontal position */
	border-width: var(--before-border-top) var(--before-border-left) var(--before-border-bottom);
	border-style: solid;
	border-color: var(--border-color) transparent;
}

/* creates the smaller  triangle */
.bubble:after {
	content: "";
	position: absolute;
	bottom: calc(-1 * (var(--after-border-top) + var(--after-border-bottom))); /* -13px */
	left: calc(var(--before-left) + var(--before-border-left) - var(--after-border-left)); /* 47px */
	border-width: var(--after-border-top) var(--after-border-top) var(--after-border-bottom);
	border-style: solid;
	border-color: var(--bg-color) transparent;
}

.speech-bubble-left:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-left-color: #ffffbb;
	border-right: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-right: -20px;
}

.content {
	max-width: 200px;
	min-width: 120px;
	font-family: "Microsoft Sans", sans-serif;
	font-size: 10pt;
}

#overlays {
	position: relative;
}

#overlays > * {
	position: absolute;
	top: 0;
	left: 0;
}
